%a.btn.btn-default.create_game_button{href: new_game_path}
  Start a new Game
.game_container
  - if @games.empty?
    Looks like you haven't started a game yet.
  - else
    %table.table.table-striped.table-hover
      %tr
        %th
        %th.color_header
          Color
        %th
          Opponent 
        %th
          Start date
        %th
          Status
      - @games.each do |game|
        %tr
          %td
            %a.btn.btn-primary{href: game_path(game)} Play
          %td
            .rook.white
          %td
            %span 
              = current_user.opponent_for_game(game).email
          %td
            %span
              = distance_of_time_in_words(game.created_at, Time.current)
          %td
            %span Won (TODO: game state)
