-#= javascript_include_tag 'cable/subscriptions/game'
= javascript_include_tag 'games'
#board{style: "width: 400px"}
:javascript
  window.currentUserColor = "#{current_user_color_for_game(@game)[0]}";
  window.currentGame = #{@game.to_json};
