@import "bootstrap-sprockets";
@import "bootstrap";
@import "chessboard-0.3.0.min.css";

#main {
  margin: auto;
  padding: 0px 40px 40px 40px;
}

.notice, .alert {
  margin: 0px 40px 0px 40px;
}

.create_game_button {
  margin-bottom: 20px;
}

.game_container {
  .table {
    table-layout: fixed;
    text-align: center;
    th {
      text-align: center;
      &.color_header {
        width: 100px;
      }
    }
    td {
      .rook {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        margin: auto;
        &.black {
          background-image: url('/assets/chesspieces/wikipedia/bR.png')
        }
        &.white {
          background-image: url('/assets/chesspieces/wikipedia/wR.png')
        }
      }
      vertical-align: middle;
    }
  }
}


form > * {
  display: block;
  margin-bottom: 20px;
}

#board {
  margin: auto;
}
